<div class="footer">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="f-header">Information</h3>
            <ul class="list-none pl-1">
                <li><a class="active">About Us</a></li>
                <li><a class="active">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col-lg-4">
            <h3 class="f-header">My Account</h3>
            <ul class="list-none pl-1">
                <li><a class="active">Login</a></li>
                <li><a class="active">Create an Account</a></li>
                <li><a class="active">CForgot Password/Username</a></li>
            </ul>
        </div>

        <div class="col-lg-4">
            <h3 class="f-header">Contact Us</h3>
            <ul class="list-none pl-1">
                <li><a class="active">ISMS@outlook.com</a></li>
            </ul>
        </div>
    </div>
</div>


