<mat-card>
    <mat-card-content>

<div *ngIf= "dataloaded">
<form [formGroup]=  "edituserform" (submit)="updateuser()">
        <mat-card>
<p>
    <mat-form-field>
        <mat-label>Is Appropriate</mat-label>
        <input
        matInput type="Boolean"
           formControlName="Objectives">
    </mat-form-field>
</p>
</mat-card><br>
<mat-card>
<p>
        <mat-form-field>
            <mat-label>Includes Objectives</mat-label>
            <input
                 matInput type="Boolean"
                formControlName="Appropriate">
        </mat-form-field>
</p>
</mat-card><br>
<mat-card>

<p>
        <mat-form-field>
            <mat-label>Includes Commitment</mat-label>
            <input
            matInput type="Boolean"
               formControlName="CommitmentReq">
        </mat-form-field>
</p>
</mat-card><br>

<mat-card>
<p>
        <mat-form-field>
            <mat-label>Is Appropriate</mat-label>
            <input
            matInput type="Boolean"
                formControlName="CommitmentImprov">
        </mat-form-field>
</p>
</mat-card><br>
<mat-card>
<p>
        <mat-form-field>
            <mat-label>Is Available</mat-label>
            <input
            matInput type="Boolean"
                formControlName="Available">
        </mat-form-field>
</p>
</mat-card><br>
<mat-card>
<p>
        <mat-form-field>
            <mat-label>Communication</mat-label>
            <input
            matInput type="Boolean"
                formControlName="CommunicatedOrg">
        </mat-form-field>
</p>
</mat-card><br>

    <mat-card>
        <p>
                <mat-form-field>
                    <mat-label>Enter Addtional Category</mat-label>
                    <input
                    matInput type="String"
                        formControlName="Othertxt">
                </mat-form-field>
        </p>
        </mat-card><br>
        <button mat-raised-button  color= "primary">Update</button>
</form>
</div>
</mat-card-content>
</mat-card>

