<mat-card class="user-details" *ngIf= "userdetails">
    <mat-card-title color:primary;>Context Report</mat-card-title>
    <br> 
    <mat-card>
    <mat-card-content><b style="padding:10px;">ID:</b>{{userdetails._id}}</mat-card-content>
</mat-card>
    <br>
    <mat-card>
    <mat-card-content><b style="padding:10px;">Context:</b>{{userdetails.Context}}</mat-card-content>
    <br>
    <mat-card-content><b style="padding:10px;">Field Completed:</b>{{userdetails.contexttick}}</mat-card-content>
</mat-card>
<br> 
<mat-card>
    <mat-card-content><b style="padding:10px;">Interested Parties:</b>{{userdetails.Interested_Parties}}</mat-card-content>
    <br>
    <mat-card-content><b style="padding:10px;">Field Completed:</b>{{userdetails.IPtick}}</mat-card-content>
    <br>
</mat-card>
<br>
<mat-card>
    <mat-card-content><b style="padding:10px;">Organization Scope:</b>{{userdetails.Scope}}</mat-card-content>
    <br>
    <mat-card-content><b style="padding:10px;">Field Completed:</b>{{userdetails.Scopetick}}</mat-card-content>
    <br>
</mat-card>
</mat-card>
