<p style="color:red">*The organization should:</p>


<ul mat-list>
    <li>  Plans and results of risk management </li>
    <li> Information security objectives</li>
    <li> Achieved information security objectives</li>
    <li> Incidents or crisis </li>
    <li> Roles, responsibilities and authorities</li>
    <li> Information exchanged between functions</li>
    <li>Changes to the ISMS</li>

    <li>Matters identified when reviewing the controls and processes</li>
    <li> Matters thst require communication in regulatory bodies </li>
    <li>Requests or commuinication form external parties</li>

    <li>Who is allowed to commuinicates internally and externally</li>
    <li>The triggers or frequency of commuincation </li>
    <li> The contents of the messages for key interested parties</li>

    <li>The intended recipients of the commuinication</li>
    <li>The commuinication means and channels</li>
    <li> The designed process to ensure that messages are sent</li>
    
   
    </ul>

    
