<p style="color:red">*The organization should:</p>


<ul mat-list>
    <li>  Provide an estimation of the resources needed for all activities related to the ISMS. </li>
    <li> in terms of quantity and quality(capacity and capabilities).</li>
    <li> Acquire the resources needed</li>
    <li> Provide the resources</li>
    <li>  Maintain the resources across the whole ISMS processes and specific activities</li>
    <li> Review and provide resources against the needs of the ISMS and adjust them as 
        required</li>
   
    </ul>
  


