<p style="color:red">*The organization should:</p>


<ul mat-list>
    <li>  Prepare a programme with the specific messages focused on each audience (e.g. 
        internal and external persons).</li>
    <li> Include information security needs and expectations within awareness and training
        materials on other topics to place information security needs into relevant 
        operational context.  </li>
    <li>Prepare a plan to communictae messages at planned intervals </li>
    <li>Verify the knowlegde and understanding of messages </li>
    <li>Verify whether act according to communicated messages</li>
    
   
    </ul>
   