*{
    box-sizing:border-box;
}
.col{
float: left;
width: 20%;
padding: 120px;
}
.row::after{
content:"";
display:table;
clear:both;
float: none;

}
.container {
    position: relative;
    width: 50%;
  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* <!--bottom navigation bar-->*/
  .navbar {
    background-color:white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color:white;
    color: slateblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body{
    text-align: center;  
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    height: 180px;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }