<app-navbar></app-navbar>
<div class="row" style=position:absolute;top:25%;left:3%>
    
    <div class="col">
        <div class="container">
    <a href="/contexts">
    <img src="assets/images/agreement-new.png" alt="HTML tutorial" class="image" style="width:200px">
    </a>
    <div class="middle">
        <a href="/contexts">
        <div class="text">View Forms</div>
    </a>
      </div>
    </div>
</div>

    
            
     <div class="col">
        <div class="container">
        <a href="">
            <img src="assets/images/file-preview.png" alt="HTML tutorial" style="width:200px">
            </a>
            <div class="middle">
                <div class="text">View Standards</div>
              </div>
            </div>
                </div>

    <div class="col">
        <div class="container">
            <a href="">
             <img src="assets/images/send.png" alt="HTML tutorial" style="width:200px">
            </a>
            <div class="middle">
                <div class="text">Generate Report</div>
              </div>
            </div>
             </div>
</div>

