<!-- <div>
    <h1  class="cen"> 
        <b>Sign Up
            </b>
        </h1>
</div>

<div>
    <form class="cenform">
        
        
            <label for="EmailAddress">Email Address:</label><br>
            <input type="email" #emailInput id="email" placeholder="Email Address" name="email"><br>
            <br>
            <label for="Password">Password:</label><br>
            <input type="password" #pwInput id="password" placeholder="Password" name="password"><br>
            <br>

             <button mat-raised-button color="primary" (click)="onSignupButtonClicked(emailInput.value, pwInput.value)" >Sign Up</button>

            
    </form>
</div> -->


<div class="row">
    <div class="col"></div>
    <div class="col-4 mt-5 pt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h1  class="cen">  <b>Sign Up</b> </h1>
                    </div>
                </div>
                <form action="">
                <div class="row">
                    <div class="col-12">
                        <label for="EmailAddress">Email Address:</label><br>
                        <input type="email" class="form-control" #emailInput id="email" placeholder="Email Address" name="email"><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="Password">Password:</label><br>
                        <input type="password" class="form-control" #pwInput id="password" placeholder="Password" name="password"><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                     <button mat-raised-button color="primary" (click)="onSignupButtonClicked(emailInput.value, pwInput.value)"
                      >Sign Up</button>

                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
