<div id="sidebar" class="sideNav-page">
    <p style="text-align:left;font-size: 20px;margin-left: 7%;padding-top: 10%;color:black;"><b>Forms</b></p>

    <mat-list role="list">
        <mat-list-item role="listitem">
            <a routerLink="/contexts">Context</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/roles">Roles and Responsibilities</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/lc">Leadership and Commitment</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/policies">Policies</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/riskd">Planning</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/control">Controls</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/support">Support</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/operation">Operation</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/pe">Performance Evaulation</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a routerLink="/improvement">Improvement</a>
        </mat-list-item>
        <br>
        <br>
        <mat-list-item role="listitem">
        <button mat-raised-button color="Basic"> <a routerLink="/report">Generated Reports</a></button>   
        </mat-list-item>
      </mat-list>

</div>
